  .services{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: #b25f04;
    width: 80%;
    height: 370px;
    font-family: 'Advent Pro', sans-serif;
  }
  .service-box {
    background-color: #b25f04;
    color: white;
    padding: 0px;
    width: 310px;
    text-align: center;
    border: 2px solid white;
    border-radius: 5px;
    height: 87%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    color: #FFE2C5;
  }
  .service-header-wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 30px;
    gap: 18px;
  }
  .service-box  img {
    position: relative;
    top:25px;
    width: 60px; 
    height: auto;
    margin-bottom: 20px;
  }
  
  h3.service-header {
    font-size: 2.2em;
    margin-bottom: 15px;
    font-weight: 400;
    width: 65px;
  }
  
  p.service-text {
    font-size: 1.6em;
    width: 260px;
    padding-left: 20px;
  }
  