.click-to-play-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #FFE2C5;
    border-radius: 10px;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    font-family: 'Advent Pro', sans-serif;
    margin-top: 65px;
    height: 80px;
  }
  
  .click-text {
    font-family: Arial, sans-serif;
    font-size: 1.7em;
    color: #B25F04;
    margin-right: 20px;
  }
  
  .play-button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    cursor: pointer;
  }
  
  .play-button img{
    color: #B25F04;
    width: 90px;
 
  }
  
  .description {
    font-weight: 500;
    font-size: 1.5em;
    color: #B25F04;
    max-width: 279px;
    line-height: 1.5;
  }
  