.gallery-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  
  .gallery-row {
    display: flex;
    justify-content: space-around; /* Distribute images equally between two columns */
    margin-bottom: 20px; /* Space between rows */
  }
  
  .gallery-item {
    flex: 1;
    margin: 0 10px; /* Horizontal spacing between items */
    position: relative;
  }
  
  .gallery-image {
    width: 500px; /* Set the width and height for the images in the grid */
    height: 400px;
    object-fit: cover;
    cursor: pointer;
  }
  
  .image-label {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;
    padding: 5px;
  }
  
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    max-width: 80%;
  }
  
  .modal-overlay {
    background-color: rgba(0, 0, 0, 0.75);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  
  .modal-image {
    max-width: 100%;
    height: auto;
  }
  
  .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: transparent;
    border: none;
    font-size: 18px;
    cursor: pointer;
  }
  